p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* slideshow */
.mySlides {display: none;}

/* full screen images */
body, html {
    height: 100%;
  }
  
  .fs { 
    
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-1 {

      /* The image used */
      background-image: url("../img/1.jpg");
  }

  .img-2 {

    /* The image used */
    background-image: url("../img/2.jpg");
}

.img-3 {

  /* The image used */
  background-image: url("../img/3.jpg");
}

.img-4 {

  /* The image used */
  background-image: url("../img/4.jpg");
}

.img-5 {

  /* The image used */
  background-image: url("../img/5.jpg");
}

.img-6 {

  /* The image used */
  background-image: url("../img/6.jpg");
}

.img-7 {

  /* The image used */
  background-image: url("../img/7.jpg");
}

.img-8 {

  /* The image used */
  background-image: url("../img/8.jpg");
}

.img-9 {

  /* The image used */
  background-image: url("../img/9.jpg");
}

.img-10 {

  /* The image used */
  background-image: url("../img/10.jpg");
}

.img-11 {

  /* The image used */
  background-image: url("../img/11.jpg");
}

.img-12 {

  /* The image used */
  background-image: url("../img/12.jpg");
}

.img-13 {

  /* The image used */
  background-image: url("../img/13.jpg");
}

.img-14 {

  /* The image used */
  background-image: url("../img/14.jpg");
}

.img-15 {

  /* The image used */
  background-image: url("../img/15.jpg");
}

.img-16 {

  /* The image used */
  background-image: url("../img/16.jpg");
}

  /* full screen video */

.fs-video {

  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Music Player */
audio {
  display: block;
  width: 230px;
  height: 30px;
}

figcaption {
  font-size: 15px;


}